@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 H1 {
  font-size: 36px;
  text-align: left;
}
#slider-2 P {
  color: #efefef;
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}
#slider-2 H1 {
  color: #efefef;
  text-align: center;
}
#features1-3 .mbr-section__col .mbr-header__text {
  text-align: left;
}
