@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);

#menu-0 .navbar-toggler {
  color: #d9534f;
}
#menu-0 .navbar-brand {
  font-size: 22px;
  font-family: 'Titillium Web', sans-serif;
}
#slider-1 H2 {
  color: #d9534f;
}
